<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>
@using Dojo_Survey_Validations.Models
@model Survey
<body>
    <div class="container p-5">
        <h1 style="text-align: center;">Results</h1>            
        <h1>Name: <span> @Model.Name</span></h1>
        <h2>Dojo Location: <span> @Model.Location</span></h2>
        <h2>Favorite Language: <span> @Model.Lang</span></h2>
        <h2>Comment: 
        @if(@Model.Comment == null)
        {
            <span>No Comment</span>
        }
        else
        {
            <span>@Model.Comment</span> 
        }
        </h2>
    </div>
    <div class="col text-center mt-5">
        <a href="/"><button class="btn btn-primary mt-3">Retake Survey</button></a>
    </div>
</body>

</html>